<div class="page-container">
  <!-- LOC PENTRU LOGO -->
  <div class="logo-placeholder" aria-hidden="true">
  <img src="assets/logo.png" alt="App Logo" class="logo" style="width:100px; height:auto;">
    
  </div>

  
  <div class="info-box">
    <h1>Informații generale despre aplicație</h1>
    <p class="lead">
      Data wallet este soluția problemei tale în care informația ta este
      păstrată numai de tine.
    </p>
  </div>


  <div class="actions-box">
    <div class="card">
      <h2>Alege una dintre opțiuni pentru a continua.</h2>

      <!-- Buton Import -->
      <button class="btn" (click)="importPhrase()">Import</button>

      <p class="sau">sau</p>

      <!-- Buton Generate -->
      <button class="btn" (click)="onGenerate()">Generate</button>
    </div>
  </div>

</div>

