<div class="my-table-wrapper">
  <div class="add-button-container">
    <p-button
      label="Add Password"
      icon="pi pi-plus"
      (onClick)="addPassword()"
      pTooltip="Add new password"
      class="custom-add-button"
    >
    </p-button>
  </div>

  <p-table
    [value]="credentials"
    styleClass="my-custom-table"
    [scrollable]="true"
    scrollHeight="flex"
    [resizableColumns]="true"
    dataKey="id"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 50px; width: 15%">View</th>
        <th pResizableColumn style="min-width: 80px; width: 35%">Name</th>
        <th pResizableColumn style="min-width: 80px; width: 35%">Password</th>
        <th style="min-width: 80px; width: 15%">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-credential let-i="rowIndex">
      <tr>
        <td>
          <i
            class="pi toggle-icon"
            [ngClass]="credential.showPassword ? 'pi-eye' : 'pi-eye-slash'"
            (click)="togglePassword(credential)"
          ></i>
        </td>
        <td>
          <span *ngIf="!credential.editing" class="cell-content">{{
            credential.name
          }}</span>
          <input
            *ngIf="credential.editing"
            [(ngModel)]="credential.name"
            class="edit-input"
            type="text"
          />
        </td>
        <td>
          <span
            *ngIf="!credential.editing && credential.showPassword"
            class="cell-content"
            >{{ credential.password }}</span
          >
          <span
            *ngIf="!credential.editing && !credential.showPassword"
            class="cell-content"
          >
            ••••••••
          </span>
          <input
            *ngIf="credential.editing"
            [(ngModel)]="credential.password"
            class="edit-input"
            [type]="credential.showPassword ? 'text' : 'password'"
          />
        </td>

        <td>
          <div class="action-buttons">
            <!-- Butoane când NU editezi -->
            <ng-container *ngIf="!credential.editing">
              <p-button
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text p-button-success"
                size="small"
                (onClick)="editPassword(credential)"
                pTooltip="Edit"
              >
              </p-button>
              <p-button
                icon="pi pi-trash"
                class="p-button-rounded p-button-text p-button-danger"
                size="small"
                (onClick)="deletePassword(credential.id)"
                pTooltip="Delete"
              >
              </p-button>
            </ng-container>

            <!-- Butoane când editezi -->
            <ng-container *ngIf="credential.editing">
              <p-button
                icon="pi pi-check"
                class="p-button-rounded p-button-text p-button-success"
                size="small"
                (onClick)="savePassword(credential)"
                pTooltip="Save"
              >
              </p-button>
              <p-button
                icon="pi pi-times"
                class="p-button-rounded p-button-text p-button-secondary"
                size="small"
                (onClick)="cancelEdit(credential)"
                pTooltip="Cancel"
              >
              </p-button>
            </ng-container>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="loading-overlay" *ngIf="showLoading">
  <div class="loader"></div>
</div>
